<div class="col-lg-4">
    <div class="card m-2 text-center">
        <div class="card-body">
            <img class="rounded-circle"
                 src="../../media/{{ product.preview }}"
                 alt="Generic placeholder image" width="140" height="140">
            <h2>{{ product.name | title }} </h2>
            <h5>{{ product.category | title }}  </h5>
            <p> {{ product.description| title }}</p>
            <p> {{ product.purchase_price }}</p>
            <p> {{ product.date_of_creation }}</p>
            <p> {{ product.last_modified_date }}</p>
             <p><a class="btn btn-secondary" href="{% url 'catalog:product_item' product.pk %}" role="button">Подробнее »</a></p>
        </div>
    </div>

</div>